
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <!--img src="assets/bproyecto0.png" alt="Logo" style="height: 30px; margin-right: 10px;"-->
    Instituto Pablo Casals
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Home -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <!-- Alumnos -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="alumnoDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Alumnos
        </a>
        <div class="dropdown-menu" aria-labelledby="alumnoDropdown">
          <a class="dropdown-item" routerLink="lista-alumnos">Lista de Alumnos</a>
          <a class="dropdown-item" routerLink="registrar-alumnos">Registrar Alumnos</a>
        </div>
      </li>


      <!-- Docentes -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="docenteDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Docentes
        </a>
        <div class="dropdown-menu" aria-labelledby="docenteDropdown">
          <a class="dropdown-item" routerLink="lista-docentes">Lista de Docentes</a>
          <a class="dropdown-item" routerLink="registrar-docentes">Registrar Docentes</a>
        </div>
      </li>


      <!-- Cursos -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="cursosDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Cursos
        </a>
        <div class="dropdown-menu" aria-labelledby="cursosDropdown">
          <a class="dropdown-item" routerLink="lista-cursos">Lista de Cursos</a>
          <a class="dropdown-item" routerLink="registrar-cursos">Registrar Cursos</a>
        </div>
      </li>

      <!-- Notas -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="notasDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Notas
        </a>
        <div class="dropdown-menu" aria-labelledby="NotasDropdown">
          <a class="dropdown-item" routerLink="lista-notas">Lista de Notas</a>
          <a class="dropdown-item" routerLink="registrar-notas">Registrar Nota</a>
        </div>
      </li>

    </ul>

  </div>
  <app-visitas></app-visitas>
</nav>

<router-outlet></router-outlet>