<app-slider></app-slider>
<section class="w-50 mx-auto text-center pt-3" id="intro">
    <h1 class="p-3 fs-2 boder-top border-3">Instituto Pablo Casals</h1>

    <p>El Instituto de Educación Superior Tecnológico Privado “PABLO CASALS”, fue creado por RM. 362-2000-ED. el 18 de
        mayo de 2000 con las carreras profesionales: Profesional Técnico en Técnica en Farmacia y Enfermería Técnica.
        Asimismo, el IEST Privado “PABLO CASALS” fue revalidado con RD. 0620-2006-ED del 18 de agosto de 2006;
        revalidando la carrera de Técnica de Farmacia y con RD. 0708-2006-ED se revalidó la carrera de Enfermería
        Técnica del 20 setiembre de 2006.</p>

    <p>Posteriormente, teniendo presencia y reconocimiento en la comunidad liberteña se logra ampliar la oferta
        educativa con tres carreras: Laboratorio Clínico, Fisioterapia y Rehabilitación, Cosmética Dermatológica,
        Prótesis Dental mediante y licenciamiento del programa de estudios de Seguridad y Prevención de Riesgos con R.M.
        N° 110-2018-MINEDU.</p>

</section>
<section class="container-fluid">
    <div class="row w-75 mx-auto my-5 servicio-fila">

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="/assets/mision.png" alt="equipo" width="180" height="160">
            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">MISIÓN</h3>
                <p class="px-4">Somos una IEST comprometida con la formación de profesionales técnicos en los programas
                    de estudio de Enfermería Técnica, Farmacia Técnica, Prótesis Dental, Laboratorio Clínico y Anatomía
                    Patológica, Técnica en Fisioterapia y Rehabilitación; con excelente nivel académico, científico,
                    tecnológico y sólida formación ética para desempeñarse con eficiencia y eficacia en el ámbito
                    laboral</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="assets/vision.png" alt="equipo" width="180" height="160">
            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">VISIÓN</h3>
                <p class="px-4">Al año 2030, ser una institución licenciada y reconocida a nivel nacional por su
                    excelencia en educación tecnológica, formando profesionales de la salud competente, capaz de
                    adaptarse a las diferentes ofertas laborales con creatividad, innovación y liderazgo, contribuyendo
                    al desarrollo sostenible del país.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="assets/valores.png" alt="equipo" width="180" height="160">
            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">VALORES</h3>
                <p class="px-4">PUNTUALIDAD, HONESTIDAD, TOLERANCIA y RESPETO</p>
            </div>
        </div>

    </div>
<app-footer></app-footer>
</section>